{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}首页 {% endblock %}

{% block page_content %}

<!--<div class="page-header">-->
<!--{% if name %}-->
<!--<h1> Hello,{{ name }}! </h1>-->
<!--{% else %}-->
<!--<h1>Hello,Stranger!</h1>-->
<!--{% endif %}-->
<!--</div>-->
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    <!--下面的是另一行文字，跟上一行无关-->
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}

{% endblock %}